.container{
	border:2px solid olive;
	border-radius:15px;
	text-align:center;
	color:#cdcdcd;
	height:90px;
	margin-top:20px;
	background-color:#666600;
	font-size:26px;
	width:650px;
}
.b{
	 width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
	border:1px solid pink;
	border-radius:15px;
	text-align:center;
	color:#olive;
	height:120px;
	margin-top:20px;
	background-color:#b0c4de;
	background-size:100%;
	font-size:30px;
	width:800px;
	text-align:left;
}
@media (min-width: 576px) {
  .b {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .b {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .b {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .b {
    max-width: 1140px;
  }
}

.c{
	 width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
	border:1px solid pink;
	border-radius:15px;
	text-align:center;
	color:#olive;
	height:370px;
	margin-top:20px;
	background-color:#8b008b;
	background-size:100%;
	font-size:30px;
	width:800px;
	text-align:center;
}

.c button{
	height:190px;
	width:300px;
	border-radius:50px;
	background-color:khaki;
}

@media (min-width: 576px) {
  .c {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .c {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .c {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .c {
    max-width: 1140px;
  }
}
